<a href="https://colab.research.google.com/github/Kostia2004/DLScompetition/blob/main/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!unzip /content/drive/MyDrive/ЭэЭэЭэЭксперименты/Нейронки/ML\ Kaggle/advanced-dls-spring-2021.zip

Archive:  /content/drive/MyDrive/ЭэЭэЭэЭксперименты/Нейронки/ML Kaggle/advanced-dls-spring-2021.zip
replace submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: submission.csv
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: test.csv
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: train.csv

In [4]:
train_dataset = pd.read_csv('train.csv')
train_dataset

      ClientPeriod  MonthlySpending  ...              PaymentMethod Churn
0               55            19.50  ...               Mailed check     0
1               72            25.85  ...    Credit card (automatic)     0
2                1            75.90  ...           Electronic check     1
3               32            79.30  ...               Mailed check     0
4               60           115.25  ...    Credit card (automatic)     0
...            ...              ...  ...                        ...   ...
5277             3            30.40  ...           Electronic check     0
5278            50            44.45  ...  Bank transfer (automatic)     0
5279             1            55.05  ...               Mailed check     0
5280            29            76.00  ...    Credit card (automatic)     0
5281            19            75.90  ...               Mailed check     0

[5282 rows x 20 columns]

In [5]:
train_dataset = train_dataset.drop(train_dataset[train_dataset['TotalSpent'].isin([' '])].index, axis=0)

In [6]:
for column in train_dataset.columns:
  print(column, np.unique(np.asarray(train_dataset.loc[:,column])))

ClientPeriod [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72]
MonthlySpending [ 18.25  18.4   18.7  ... 118.6  118.65 118.75]
TotalSpent ['100.2' '100.25' '100.35' ... '997.65' '998.1' '999.9']
Sex ['Female' 'Male']
IsSeniorCitizen [0 1]
HasPartner ['No' 'Yes']
HasChild ['No' 'Yes']
HasPhoneService ['No' 'Yes']
HasMultiplePhoneNumbers ['No' 'No phone service' 'Yes']
HasInternetService ['DSL' 'Fiber optic' 'No']
HasOnlineSecurityService ['No' 'No internet service' 'Yes']
HasOnlineBackup ['No' 'No internet service' 'Yes']
HasDeviceProtection ['No' 'No internet service' 'Yes']
HasTechSupportAccess ['No' 'No internet service' 'Yes']
HasOnlineTV ['No' 'No internet service' 'Yes']
HasMovieSubscription ['No' 'No internet service' 'Yes']
HasContractPhone ['Month-to-month' 'One year' 'Two year']
IsBillingPaperless ['No' 'Yes']
PaymentMethod ['Bank transfer (automatic)' 'Credit card (automatic)' 'Electronic check'
 'Mailed check']
Churn [0 1]

In [7]:
train_dataset = train_dataset.replace('No internet service', 'No')
train_dataset = train_dataset.replace('No phone service', 'No')
train_dataset['Sex'] = pd.factorize(train_dataset['Sex'])[0]
train_dataset['HasPartner'] = pd.factorize(train_dataset['HasPartner'])[0]
train_dataset['HasChild'] = pd.factorize(train_dataset['HasChild'])[0]
train_dataset['HasPhoneService'] = pd.factorize(train_dataset['HasPhoneService'])[0]
train_dataset['HasMultiplePhoneNumbers'] = pd.factorize(train_dataset['HasMultiplePhoneNumbers'])[0]
train_dataset['HasInternetService'] = pd.factorize(train_dataset['HasInternetService'])[0]
train_dataset['HasOnlineSecurityService'] = pd.factorize(train_dataset['HasOnlineSecurityService'])[0]
train_dataset['HasOnlineBackup'] = pd.factorize(train_dataset['HasOnlineBackup'])[0]
train_dataset['HasDeviceProtection'] = pd.factorize(train_dataset['HasDeviceProtection'])[0]
train_dataset['HasTechSupportAccess'] = pd.factorize(train_dataset['HasTechSupportAccess'])[0]
train_dataset['HasOnlineTV'] = pd.factorize(train_dataset['HasOnlineTV'])[0]
train_dataset['HasMovieSubscription'] = pd.factorize(train_dataset['HasMovieSubscription'])[0]
train_dataset['HasContractPhone'] = pd.factorize(train_dataset['HasContractPhone'])[0]
train_dataset['IsBillingPaperless'] = pd.factorize(train_dataset['IsBillingPaperless'])[0]
train_dataset['PaymentMethod'] = pd.factorize(train_dataset['PaymentMethod'])[0]
train_dataset

      ClientPeriod  MonthlySpending  ... PaymentMethod  Churn
0               55            19.50  ...             0      0
1               72            25.85  ...             1      0
2                1            75.90  ...             2      1
3               32            79.30  ...             0      0
4               60           115.25  ...             1      0
...            ...              ...  ...           ...    ...
5277             3            30.40  ...             2      0
5278            50            44.45  ...             3      0
5279             1            55.05  ...             0      0
5280            29            76.00  ...             1      0
5281            19            75.90  ...             0      0

[5273 rows x 20 columns]

In [12]:
X_columns = train_dataset.columns[:-1]
Y_columns = ['Churn']

In [13]:
import sklearn.tree
tree = sklearn.tree.DecisionTreeClassifier()
tree.fit(train_dataset[X_columns].values, train_dataset[Y_columns].values)

DecisionTreeClassifier()