<a href="https://colab.research.google.com/github/Kostia2004/DLScompetition/blob/main/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!unzip /content/drive/MyDrive/ЭэЭэЭэЭксперименты/Нейронки/ML\ Kaggle/advanced-dls-spring-2021.zip

Archive:  /content/drive/MyDrive/ЭэЭэЭэЭксперименты/Нейронки/ML Kaggle/advanced-dls-spring-2021.zip
  inflating: submission.csv
  inflating: test.csv
  inflating: train.csv

In [4]:
dataset = pd.read_csv('train.csv')
dataset

      ClientPeriod  MonthlySpending  ...              PaymentMethod Churn
0               55            19.50  ...               Mailed check     0
1               72            25.85  ...    Credit card (automatic)     0
2                1            75.90  ...           Electronic check     1
3               32            79.30  ...               Mailed check     0
4               60           115.25  ...    Credit card (automatic)     0
...            ...              ...  ...                        ...   ...
5277             3            30.40  ...           Electronic check     0
5278            50            44.45  ...  Bank transfer (automatic)     0
5279             1            55.05  ...               Mailed check     0
5280            29            76.00  ...    Credit card (automatic)     0
5281            19            75.90  ...               Mailed check     0

[5282 rows x 20 columns]

In [5]:
for column in dataset.columns:
  print(column, np.unique(np.asarray(dataset.loc[:,column])))

ClientPeriod [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72]
MonthlySpending [ 18.25  18.4   18.7  ... 118.6  118.65 118.75]
TotalSpent [' ' '100.2' '100.25' ... '997.65' '998.1' '999.9']
Sex ['Female' 'Male']
IsSeniorCitizen [0 1]
HasPartner ['No' 'Yes']
HasChild ['No' 'Yes']
HasPhoneService ['No' 'Yes']
HasMultiplePhoneNumbers ['No' 'No phone service' 'Yes']
HasInternetService ['DSL' 'Fiber optic' 'No']
HasOnlineSecurityService ['No' 'No internet service' 'Yes']
HasOnlineBackup ['No' 'No internet service' 'Yes']
HasDeviceProtection ['No' 'No internet service' 'Yes']
HasTechSupportAccess ['No' 'No internet service' 'Yes']
HasOnlineTV ['No' 'No internet service' 'Yes']
HasMovieSubscription ['No' 'No internet service' 'Yes']
HasContractPhone ['Month-to-month' 'One year' 'Two year']
IsBillingPaperless ['No' 'Yes']
PaymentMethod ['Bank transfer (automatic)' 'Credit card (automatic)' 'Electronic check'
 'Mailed check']
Churn [0 1]

In [6]:
def normalyze(dataset):
  dataset = dataset.drop(dataset[dataset['TotalSpent'].isin([' '])].index, axis=0)
  dataset = dataset.replace('No internet service', 'No')
  dataset = dataset.replace('No phone service', 'No')
  dataset['Sex'] = pd.factorize(dataset['Sex'])[0]
  dataset['HasPartner'] = pd.factorize(dataset['HasPartner'])[0]
  dataset['HasChild'] = pd.factorize(dataset['HasChild'])[0]
  dataset['HasPhoneService'] = pd.factorize(dataset['HasPhoneService'])[0]
  dataset['HasMultiplePhoneNumbers'] = pd.factorize(dataset['HasMultiplePhoneNumbers'])[0]
  dataset['HasInternetService'] = pd.factorize(dataset['HasInternetService'])[0]
  dataset['HasOnlineSecurityService'] = pd.factorize(dataset['HasOnlineSecurityService'])[0]
  dataset['HasOnlineBackup'] = pd.factorize(dataset['HasOnlineBackup'])[0]
  dataset['HasDeviceProtection'] = pd.factorize(dataset['HasDeviceProtection'])[0]
  dataset['HasTechSupportAccess'] = pd.factorize(dataset['HasTechSupportAccess'])[0]
  dataset['HasOnlineTV'] = pd.factorize(dataset['HasOnlineTV'])[0]
  dataset['HasMovieSubscription'] = pd.factorize(dataset['HasMovieSubscription'])[0]
  dataset['HasContractPhone'] = pd.factorize(dataset['HasContractPhone'])[0]
  dataset['IsBillingPaperless'] = pd.factorize(dataset['IsBillingPaperless'])[0]
  dataset['PaymentMethod'] = pd.factorize(dataset['PaymentMethod'])[0]
  return dataset

In [7]:
dataset = normalyze(dataset)
dataset

      ClientPeriod  MonthlySpending  ... PaymentMethod  Churn
0               55            19.50  ...             0      0
1               72            25.85  ...             1      0
2                1            75.90  ...             2      1
3               32            79.30  ...             0      0
4               60           115.25  ...             1      0
...            ...              ...  ...           ...    ...
5277             3            30.40  ...             2      0
5278            50            44.45  ...             3      0
5279             1            55.05  ...             0      0
5280            29            76.00  ...             1      0
5281            19            75.90  ...             0      0

[5273 rows x 20 columns]

In [8]:
X_columns = dataset.columns[:-1]
Y_columns = ['Churn']

In [9]:
x = dataset[X_columns]
y = dataset[Y_columns]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x.values, y.values, test_size=0.3, random_state=17)

#Tree

##Train tree classifer

In [11]:
import sklearn.tree
tree = DecisionTreeClassifier()
tree.fit(x_train, y_train)

DecisionTreeClassifier()

In [12]:
tree.get_depth()

22

###Tree parameters setup

In [13]:
from sklearn.model_selection import GridSearchCV, cross_val_score

In [14]:
tree_params = {'max_depth': range(1,20),
'max_features': range(2,19)}

In [17]:
tree_grid = GridSearchCV(tree, tree_params,
cv=5, n_jobs=-1,
verbose=True)

In [18]:
tree_grid.fit(x_train, y_train)

Fitting 5 folds for each of 323 candidates, totalling 1615 fits

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'max_depth': range(1, 20),
                         'max_features': range(2, 19)},
             verbose=True)

In [20]:
tree_grid.best_params_, tree_grid.best_score_

({'max_depth': 5, 'max_features': 6}, 0.7903003766167567)

##Test tree classifer

In [22]:
from sklearn.metrics import accuracy_score

tree_pred = tree.predict(x_test)
accuracy_score(y_test, tree_pred)

0.7332490518331226

In [23]:
accuracy_score(y_test, tree_grid.predict(x_test))

0.8021491782553729