<a href="https://colab.research.google.com/github/Kostia2004/DLScompetition/blob/main/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
!unzip /content/drive/MyDrive/ЭэЭэЭэЭксперименты/Нейронки/ML\ Kaggle/advanced-dls-spring-2021.zip

Archive:  /content/drive/MyDrive/ЭэЭэЭэЭксперименты/Нейронки/ML Kaggle/advanced-dls-spring-2021.zip
  inflating: submission.csv
  inflating: test.csv
  inflating: train.csv

In [6]:
train_dataset = pd.read_csv('train.csv')
train_dataset

      ClientPeriod  MonthlySpending  ...              PaymentMethod Churn
0               55            19.50  ...               Mailed check     0
1               72            25.85  ...    Credit card (automatic)     0
2                1            75.90  ...           Electronic check     1
3               32            79.30  ...               Mailed check     0
4               60           115.25  ...    Credit card (automatic)     0
...            ...              ...  ...                        ...   ...
5277             3            30.40  ...           Electronic check     0
5278            50            44.45  ...  Bank transfer (automatic)     0
5279             1            55.05  ...               Mailed check     0
5280            29            76.00  ...    Credit card (automatic)     0
5281            19            75.90  ...               Mailed check     0

[5282 rows x 20 columns]